{% extends "network/layout.html" %}
<!--  -->
{% block body %}

<div id="all-posts">
  <!-- New Post -->
  {% if user.is_authenticated %}
  <div class="new-post">
    <form>
      <div class="form-group">
        <label for="post" class="display-4">New Post</label>
        <textarea
          name="post"
          id="post"
          rows="3"
          class="form-control"
          maxlength="280"
        ></textarea>
        <button id="addPost" type="submit" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
  {% endif %}

  <!-- All Posts -->
  <div class="posts"></div>
</div>

<!-- Profile Page -->
<div id="profile" class="profile" data-username="">
  <h1 id="profile-username" class="display-4"></h1>
  {% if user.is_authenticated %}
  <button id="profile-follow" class="btn btn-primary"></button>
  {% endif %}
  <h4>Followers: <span id="profile-followers"></span></h4>
  <h4>Following: <span id="profile-following"></span></h4>
  <div id="profile-posts"></div>
</div>

{% endblock %}
