.new-post,
.posts,
.profile,
.following {
  padding: 1.5rem;
}

#profile-posts {
  margin-top: 2.5rem;
}
#profile-username {
  text-transform: capitalize;
}

.new-post button {
  margin-top: 0.1rem;
}

.username-click {
  cursor: pointer;
}

.post {
  padding: 1rem;
  border: 1px lightgray solid;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.post textarea {
  display: block;
  width: 100%;
  /* margin: 0 auto; */
}

.edit-link {
  display: block;
  text-align: end;
}

.like-button {
  padding: 1rem 1rem 1rem 0;
  cursor: pointer;
}
